#shoppingcar{
	top: 90px;
}
	
.php_showallproduct{
	color:rgba(255,255,255,1.00);
	
	}
	
	
.box_heigh{
	min-height:380px;
	}

.php-custom-prod-grid{
	text-shadow:none;
	}
	
.margin20{
	
	margin-bottom:20px;
	
	}